@model IEnumerable<E_Invitation.Models.ECard>



<div class="table-responsive">
<table class="table" id="tbl_tbl_Detail">
    <thead>
        <tr>
           @* <th>
               S/N
            </th>*@
            @*<th>
               Ocassion Name
            </th>*@
            <th>
               Cover Page
            </th>
            <th>
               Back Page
            </th>
            <th>
                Root Info
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="DetailBody">

    </tbody>
</table>
</div>